.BookShelf {
    padding: 0 10px 20px;
  }
  
  @media (min-width: 600px) {
    .BookShelf {
      padding: 0 20px 40px;
    }
  }
  
  .BookShelfTitle {
    border-bottom: 1px solid #dedede;
  }
  
  .BookShelfBooks {
    text-align: center;
  }

  .BooksGrid {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .BooksGrid li {
    padding: 10px 15px;
    text-align: left;
  }